<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="B2C Android App Smoke Suite">
    <test verbose="2" preserve-order="true" name="TE Mobile B2C Android App">
        <classes>
            <class name="org.te.app.android.tests.appTests.OnboardingTest" />
            <class name="org.te.app.android.tests.appTests.SignInTest" />
            <class name="org.te.app.android.tests.appTests.SignUpTest" />
            <class name="org.te.app.android.tests.appTests.EnableLocationTest" />
            <class name="org.te.app.android.tests.appTests.ShowOffersTest" />
            <class name="org.te.app.android.tests.appTests.HomeTest" />

        </classes>
    </test>
</suite>